<!DOCTYPE html>
<html lang="pt-br">
<head th:insert="~{base :: head(pageTitle='Home')}">
</head>
<body onload="onLoad()">
<div th:replace="~{base :: header}"></div>
<div id="offers" class="container">
    <div th:replace="~{base :: title(text='Faça sua Oferta')}"></div>
    <div class="card mt-3" v-for="order in orders">
        <div class="card-header alert alert-dark">{{ order.productName }}</div>
        <div class="card-body row">
            <div class="col-12 col-sm-8">
                <div>
                    <p>Produto <a v-bind:href="order.productUrl">{{order.productName}}</a></p>
                </div>

                <div class="mt-3">Descrição</div>
                <div>
                    <p class="form-control">{{ order.description }}</p>
                </div>
                <div class="row mt-3">
                    <div class="col-md-5">
                        <p>Valor: <input v-bind:class="{'is-invalid':order.errorList.deliveryDate!==''}" v-model="order.offerValue" /> </p>
                        <div v-if="order.errorList.value" class="invalid-feedback">{{order.errorList['value']}}</div>
                    </div>
                    <div class="col-md-7">
                        <p> Data da Entrega: <input v-bind:class="{'is-invalid':order.errorList.deliveryDate!==''}" v-model="order.deliveryDate"/> </p>
                        <div v-if="order.errorList.deliveryDate" class="invalid-feedback">{{order.errorList.deliveryDate}}</div>
                    </div>
                </div>
                <div class="mt-2">
                    <label for="comment">Comentário</label>
                    <textarea id="comment" class="form-control" v-model="order.comment"></textarea>
                </div>
                <button v-bind:id="'sendButton'+order.id" v-on:click="sendOffer(order)" class="btn btn-primary mt-3" type="submit">Enviar Oferta</button>
            </div>
            <div class="col-12 col-sm-4">
                <div>
                    <img class="img-thumbnail" v-bind:src="order.imageUrl" alt="Imagem do produto"/>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function onLoad() {
        var app = new Vue({
            el: '#offers',
            data: {
                orders: []
            },
            mounted () {
                axios
                    .get('http://localhost:8080/api/order/aguardando')
                    .then(response => {
                        this.orders = response.data
                        this.orders.forEach(order => {
                            order.sendedOffer = false
                            order.errorList = {
                                value: '',
                                deliveryDate: ''
                            }
                        })
                    } )
            },
            methods: {
                sendOffer: function (order) {

                    axios
                        .post('http://localhost:8080/api/offers', {
                            orderId: order.id,
                            value: order.offerValue,
                            deliveryDate: order.deliveryDate,
                            comment: order.comment
                        })
                        .then(response => this.switchSendButton(order))
                        .catch(error => {
                            error.response.data.errors.forEach(error => {
                                order.errorList[error.field] = error.defaultMessage;
                            })
                            console.log(order)
                        });
                },
                switchSendButton: function (order) {
                    const button = document.querySelector(`#sendButton${order.id}`)
                    const oldText = button.innerHTML;
                    const oldClass = 'btn-primary';
                    const newClass = 'btn-success';
                    const delay = 7500;
                    this.switchClassText(button, oldClass, newClass, 'Oferta Enviada')
                    setTimeout(() => this.switchClassText(button, newClass, oldClass, oldText), delay)
                },
                switchClassText: function (element, removableClassName, addClassName, newText) {
                    element.classList.remove(removableClassName)
                    element.classList.add(addClassName)
                    element.innerHTML=newText
                }
            }

        })
    }

</script>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.min.js" integrity="sha384-heAjqF+bCxXpCWLa6Zhcp4fu20XoNIA98ecBC1YkdXhszjoejr5y9Q77hIrv8R9i" crossorigin="anonymous"></script>

</body>
</html>